<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="it.prometeia.pca.mybatis.mapper.MyMapper">

	<resultMap id="moiSession" type="it.prometeia.moi.datalayer.MyModel">
		<id column="FC" property="fc" />
	</resultMap>

	<select id="selectSession" resultMap="moiSession">
		select
		s.FC
		from MOI_SESSION s
		where s.ID = #{id}
	</select>

</mapper>